NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_02d0df7032093e813cfad67fe27d10c1c3130797c0ec2e17eefe6f880da5382c
NEXT_PUBLIC_MEDUSA_BACKEND_URL=https://api-dev.3dbytetech.com
NEXT_PUBLIC_DEMO_MODE=True
NEXT_PUBLIC_STRAPI_URL=https://cms-dev.3dbytetech.com
NEXT_PUBLIC_STRAPI_READ_TOKEN=YOUR_STRAPI_READ_TOKEN
NEXT_PUBLIC_CDN_SPACE_DOMAIN=3dbyte-tech-dev-store-cms.s3.ap-southeast-2.amazonaws.com
NEXT_PUBLIC_SPACE_DOMAIN=YOUR_SPACE_DOMAIN
NEXT_PUBLIC_SPACE_ENDPOINT=YOUR_SPACE_ENDPOINT
STRAPI_WEBHOOK_REVALIDATION_SECRET=YOUR_WEBHOOK_REVALIDATION_SECRET

# Meilisearch Configuration (Storefront - Search Only Key)
NEXT_PUBLIC_MEILISEARCH_HOST=http://localhost:7700
NEXT_PUBLIC_MEILISEARCH_API_KEY=YOUR_MEILISEARCH_SEARCH_KEY
NEXT_PUBLIC_MEILISEARCH_INDEX_NAME=products
