NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_02d0df7032093e813cfad67fe27d10c1c3130797c0ec2e17eefe6f880da5382c
NEXT_PUBLIC_MEDUSA_BACKEND_URL=https://api-dev.3dbytetech.com
NEXT_PUBLIC_DEMO_MODE=True
NEXT_PUBLIC_STRAPI_URL=https://cms-dev.3dbytetech.com
NEXT_PUBLIC_STRAPI_READ_TOKEN=0fe54a2a66615700eca2265a6420ca9b7df81856eababd43c61b2fbac4608b3c48b3b7a771f79aade1c1e232bcf3191cf98981a9fa9c1295cd3873eeeb552191c4164a066bd4111c4d40de8ee1f29caf977d57d38b7bc08cf76d16e55519d635554ae04b0c632ac78d2765ccedfa3f2c999c68f924b731ff9c80a3791a441a47
NEXT_PUBLIC_CDN_SPACE_DOMAIN=3dbyte-tech-dev-store-cms.s3.ap-southeast-2.amazonaws.com
NEXT_PUBLIC_SPACE_DOMAIN=YOUR_SPACE_DOMAIN
NEXT_PUBLIC_SPACE_ENDPOINT=YOUR_SPACE_ENDPOINT
STRAPI_WEBHOOK_REVALIDATION_SECRET=db408c4c1cb9c3599dd1a5fc4b0d0b8e7f70942f07eaaa14426e7c27e8992ee4

# Meilisearch Configuration (Storefront - Search Only Key)
NEXT_PUBLIC_MEILISEARCH_HOST=http://192.168.0.45:7700
NEXT_PUBLIC_MEILISEARCH_API_KEY=IZKjKX6kXKnH0d4VgL0LrBgSccbImu4PkvDOvL81dww
NEXT_PUBLIC_MEILISEARCH_INDEX_NAME=products
